.post{
  padding-top: 50px;
  margin-top: 15px;
  background-color: #fff;
    boxShadow: 0 0 40px 5px rgba(0, 0, 0, 0.6);
}

.post ~ .post{
  padding-top: 0;
}

.post{
  padding: 0px 0;
  width: 850px;
  position: relative;

  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 0.9%;

  .header{
    height: 30px;
    border-bottom: 1px solid #fff;
    margin: 0px 0px;

    .level-left{
      border-bottom: 1px solid #e6e6e6;
      margin-left: 10px;
      margin-top: 5px;

      .image{
        display: inline-block;
      }

      img{
        border-radius: 50%;
        height: 50px;
        width: 50px;
      }

      span{
        margin-left: 15px;
        margin-bottom: 15px;
        padding-left: 5px;
        padding-top: 15px;
        margin-bottom: 15px;
        font-size: 1.3rem;
        font-weight: bold;
      }
    }
  }

  .button_container{
    display: flex;
    .heart{
      margin-right: 15px;
    }
  }

  .content{
    margin: 7.5px 10px;
  }

  .far.fa-heart,
  .fas.fa-heart{
    cursor: pointer;
  }

  .likes{
    margin: 5px 0;
    margin-bottom: 5px !important;
    font-size: 0.85rem;
    font-weight: bold;
  }
  .caption{
    font-size: 0.85rem;
    span{
      font-weight: bold;
    }
  }

  .commentInputField{
    border-top: 1px solid #e6e6e6;
    margin-top: 35px;
    .input_field{
      width: 90%;
      height: 30px;
    }
  }
}
