@import url('https://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic');

@colorprimary: #e6e6e6;

.NSTUGramm{
  font-family: "Poiret", cursive;
  background-color: #fefefe;
}

.group_container{
  display: flex;

  .uploadContainer{
    z-index: 999999;

    position: fixed;
    display: block;
  }

  .window{
    margin-top: 100px;
    flex-grow: 3;
  }
  .footer{
    flex-grow: 1;
    position: fixed;
    z-index: 2;
    right: 15px;
    top: 150px;
    width: 350px;
  }
}
