@import url('https://fonts.googleapis.com/css?family=Pacifico&subset=cyrillic');

.login_container{
  padding: 75px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  width: 250px;
  height: auto;
  margin: 0 auto;
  margin-top: 20%;
  .label_image{
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    margin-bottom: 25px;
  }
  .inputstyle{
    position: relative;
    display: flex;
    flex-direction: column ;



  }
  .form-control{
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 25px;
    &:focus,&:valid{
      outline: 0;

      + label{
        top: -20px;
        font-size: 10px;
      }
    }
  }

  label{
    position: absolute;
    left: 0px;
    top: 0px;
    color: rgba(51, 51, 51, .54);
    pointer-events: none;
    transition: all .2s ease;
  }
}
