$icon: url(./icon.png);
.comment_button_container{
  width: 35px;
  height: 35px;
  .button{
    background-image: $icon;
    background-repeat: no-repeat;
    background-size: cover;
    width: 33px;
    height: 33px;
    opacity: 1;
    cursor: pointer;
    &:hover{
      transform: scale(1.2);
      transition: all .4s;
    }
  }
}
